<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/module/about.css">
    <script type="module" src="../js/modules/about.js"></script>
    <title>Portafolio</title>
</head>
<body>
    <header>
        <section class="header1">
            <h5>PORTAFOLIO</h5>
        </section>
        <section class="header2">
            <nav class="navbar">
                <ul class="nav-menu">
                    <li><a href="/portafolio">INICIO</a></li>
                    <li><a href="./about.html">ACERCA DE MI</a></li>
                    <li><a href="./proyect.html">PROYECTOS</a></li>
                    <li><a href="./contact-me.html">CONTACTAME</a></li>
                </ul>
            </nav>
        </section>
    </header>
    <main>
        <section class="main1 hidden">
            <div>
                <h3>ACERCA DE MI</h3>
            </div>
        </section>
        <section class="main2 hidden">
            <div class="card">
                <div class="first-content">
                    <img src="../storage/IMG_1585.jpg" alt="">
                </div>
                <div class="second-content">
                    <img src="../storage/IMG-20240830-WA0011.jpg" alt="">
                </div>
            </div>
            <div class="texto-main2">
                <p>Soy un desarrollador entusiasta y siempre dispuesto a aprender nuevas cosas, poseo experiencia en el desarrollo de aplicaciones eficientes y funcionales. Mi pasión por aprender y aplicar nuevas tecnologías impulsa mi crecimiento profesional continuo, siempre estoy en busca de contribuir significativamente al desarrollo de productos digitales que mejoren la vida de las personas y generen un impacto positivo en la sociedad.</p>
            </div>
        </section>
        <section class="main3 hidden">
            <div class="texto-main3">
                <h3>Mis Habilidades</h3>
            </div>
            <div class="informacion-main3">
                <div class="caja-main3">
                    <div class="imagen-main3">
                        <img src="https://cdn-icons-png.flaticon.com/512/174/174854.png" alt="">
                    </div>
                    <div class="habilidad-main3">
                        <h4>HTML</h4>
                    </div>
                </div>
                <div class="caja-main3">
                    <div class="imagen-main3">
                        <img src="https://cdn.worldvectorlogo.com/logos/css-3.svg" alt="">
                    </div>
                    <div class="habilidad-main3">
                        <h4>CSS</h4>
                    </div>
                </div>
                <div class="caja-main3">
                    <div class="imagen-main3">
                        <img src="https://cdn-icons-png.flaticon.com/512/5968/5968292.png" alt="">
                    </div>
                    <div class="habilidad-main3">
                        <h4>JAVASCRIPT</h4>
                    </div>
                </div>
                <div class="caja-main3">
                    <div class="imagen-main3">
                        <img src="https://img.icons8.com/?size=512&id=74402&format=png" alt="">
                    </div>
                    <div class="habilidad-main3">
                        <h4>MONGODB</h4>
                    </div>
                </div>
                <div class="caja-main3">
                    <div class="imagen-main3">
                        <img src="https://seekvectors.com/files/download/a212a2aa9ed1b9d3ea4c011313164a92.jpg" alt="">
                    </div>
                    <div class="habilidad-main3">
                        <h4>EXPRESS JS</h4>
                    </div>
                </div>
                <div class="caja-main3">
                    <div class="imagen-main3">
                        <img src="https://cdn.icon-icons.com/icons2/2415/PNG/512/nodejs_plain_logo_icon_146409.png" alt="">
                    </div>
                    <div class="habilidad-main3">
                        <h4>NODE JS</h4>
                    </div>
                </div>
            </div>
        </section>
        <section class="main4 hidden">
            <div class="caja1-main4">
                <div class="card-flip">
                    <div class="card-inner">
                        <div class="card-front">
                            <p>Mision</p>
                        </div>
                        <div class="card-back">
                            <p>Mi mision es diseñar y crear soluciones tecnológicas avanzadas que no solo faciliten y mejoren la vida cotidiana de las personas, sino que también impulsen el crecimiento y la evolución del desarrollo. Me motiva la idea de contribuir al progreso tecnológico a través de proyectos innovadores que generen un impacto real y significativo..</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="caja2-main4">
                <div class="card-flip">
                    <div class="card-inner">
                        <div class="card-front">
                            <p>Vision</p>
                        </div>
                        <div class="card-back">
                            <p>Mi vision es convertirme en un líder en el campo tecnológico al promover la integración de tecnologías novedosas y las mejores prácticas del mercado. Busco liderar el progreso y la modernización, asegurándome de que las soluciones tecnológicas estén a la vanguardia y cumplan con los estándares más exigentes.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>        
    </main>    
</body>
</html>