@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    overflow-x: hidden;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 50px;
    background-color: white;
}

.header1 h5 {
    font-size: 2rem;
    margin: 0;
}

.nav-menu {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.nav-menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
    border-radius: 1rem;
    padding: 10px 15px; /* Añade algo de padding para el efecto de fondo */
    transition: background-color 0.3s ease; /* Suaviza la transición de color */
}

.nav-menu a:hover {
    background-color: #f0f0f0; /* Cambia el color de fondo al pasar el mouse */
    color: #6f2b2b; /* Opcional: Cambia el color del texto si lo deseas */
    border-radius: 1rem;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
}

.main1 {
    display: flex;
    justify-items: flex-start;
    width: 100%;
    height: 40%;
    background: black;
}

.main1 div {
    display: flex;
    width: 100%;
    height: 20%;
    flex-direction: column;
    align-items: center;
    color: white;
}

.main1 div h4 {
    font-size: 3.5rem;
}

.main1 div p {
    font-size: 2.5rem;
}

.main2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
    align-items: center;
    justify-content: space-around;
}

/* .navegador-main2 {
    display: flex;
    width: 20%;
    justify-content: space-around;
    border: 1px solid brown;
    background: black;
    border-radius: 1rem;
    padding: 0.5rem;
}

.navegador-main2 button {
    text-decoration: none;
    border: 1px solid gray;
    background: none;
    font-size: 1.2rem;
    border-radius: 0.4rem;
    color: white;
} */

.projects-main2 {
    display: flex;
    width: 80%;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    overflow: hidden;
}

.informacion-projects {
    display: flex;
    width: 20%;
    height: 100%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 1rem;
    gap: 1rem;
}

.imagen-projects {
    width: 100%;
    height: 80%;
}

.imagen-projects img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}

.texto-projects {
    display: flex;
    width: 100%;
    height: 20%;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.texto-projects button {
    font-size: 1rem;
    background: gray;
    border: none;
    border-radius: 0.5rem;
    padding: 0.4rem;
    color: white;
}
